<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}"> 
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8"/>


  <title>Content page 1</title>
</head>

<body>

		<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      		<a class="navbar-brand" href="#">EASY CONTACT</a>
    	</div>
    		<ul class="nav navbar-nav">
      			<li class="active"><a th:href="@{/index}">Home</a></li>
      			<li><a th:href="@{/formParticuliers}">Rechercher une personne</a></li>
      			<li><a th:href="@{/formProfessionnels}">Rechercher une organisation</a></li>
      			<li><a th:href="@{/formProfessionnels}">Consulter un profil</a></li>
      			<li><a th:href="@{/index2}">Inscription</a></li>
      			<li><a href="#">Page 3</a></li>
    			</ul>
  			</div>
		</nav>


  <section layout:fragment="content">
    	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">Inscription</div>
			<div class="panel-body">
				<form th:action="@{/saveParticulier}" method="post" th:object="${individuInscription}">
					
					<div class="form-group">
						<label class="control-label">Nom :</label>
						<input type="text" th:field="*{nom}" class="form-control">				
						<span></span>				
					</div>
				
					<div class="form-group">
						<label class="control-label">Prenom :</label>
						<input type="text" th:field="*{prenom}" class="form-control">				
						<span></span>				
					</div>
								
					<div class="form-group">
						<label class="control-label">Email :</label>
						<input type="email" th:field="*{email}" class="form-control">				
						<span></span>				
					</div>
				
<!-- 					<div class="form-group">
						<label class="control-label">Date de naissance :</label>
						<input type="date" th:field="*{dateNaissance}" class="form-control">				
						<span></span>				
					</div -->>							
					<button type="submit" class="btn btn-info">Valider</button>
				</form>		
			</div>
		</div>
	</div>	
  </section>
  <footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
  </footer>










</body>










</html>